body {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
}

#heart-map {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.hexagon-cell {
  animation: ease-in infinite alternate fadein 1s;
}

@keyframes fadein {
  from { opacity: 0.25; }
  to   { opacity: 0.75; }
}
